body{
    display: flex;
    justify-content: center;
    font-family: 'Century Gothic';
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 20px;
}

h1{
    color: white;
}

button{
    width: 10%;
    height: 50px;
    font-size: 20px;
    border-top-right-radius: 1cm;
    border-end-start-radius: 1cm;
    background-color: #43136d;
    color: white;
    font-family: 'Century Gothic';
    margin: 2%;
    margin-left: 45%;
}

button:hover{
    background-color: #6d4e88;
    color: #43136d;
}

#Encabesado{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #340f55;
    text-align: center;
    color: white;
}

#contenedor{
    width: 90%;
    background-color: #dabcf5;
}

#respuesta{
    margin: 2%;
}

#tabla{
    background-color: #6d4e88;
    border-radius: 5px;
    width: 99%;
}
